header {
  width: 100vw;
  height: 200px;
  display: flex;

  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  /* align-items: center; */
  /* position: fixed; */
  margin-bottom: 50px;
  z-index: 2;
}

h1 {
  color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h2 {
  color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
